.check-in-space {
    // display: flex;
    // flex-direction: column;
    // background-color: #ff0000;
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: red;
        background-image: url("../../images/BG-1300x200.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom -30px right;
        height: 210px;
        border-bottom: 1px dotted #666;
        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $warningColor;
            margin: 1rem 0;
            h2 {
                font-family: DFKai, "BiauKai", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
                font-size: 1.5rem;
                letter-spacing: 0.8rem;
                font-weight: bold;
                text-shadow: 2px 2px 6px #a3a3a3;
            }
            h3 {
                padding-top: 2px;
                font-family: Arial, sans-serif;
                font-size: 0.59rem;
                font-weight: bold;
            }
            img {
                width: 5rem;
            }
        }
        .title {
            text-align: left;
            h1 {
                color: $warningColor;
                padding: 0rem 0 0.5rem;
                font-family: "DFKai", Arial, sans-serif;
                font-size: 2rem;
                font-weight: bold;
                text-shadow: 2px 2px 6px #a3a3a3;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        &-form {
            flex: 1;
            padding: 1rem;
            // margin-bottom: 2rem 0rem 2rem 2rem;
            input[type="text"] {
                width: 70%;
                height: 30px;
            }
            button {
                width: 28%;
                height: 30px;
                font-weight: bold;
                border-radius: 3px;
                border: 0px;
            }
            div:nth-child(2) {
                margin-top: 1rem;
                #checkInCarousel {
                    ul {
                        .ad-list-item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            min-height: 300px;
                            border-bottom: 1px #666 dotted;
                            padding: 1rem 0;
                            img {
                                width: 200px;
                            }
                            label {
                                font-size: 1rem;
                                font-weight: bold;
                                color: $warningColor;
                            }
                        }
                    }
                }
            }
        }
        &-info {
            flex: 3;
            .content-welcome {
                display: flex;
                flex-direction: row;
                margin: 2rem 1rem;
                font-family: DFKai, "BiauKai", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
                F #last-check-in {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    label {
                        color: #999;
                        font-size: 1rem;
                    }
                }
                .guest_name {
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 25%;
                    #guest_name {
                        font-size: 3rem;
                        color: rgb(9, 57, 88);
                        letter-spacing: 3px;
                        font-family: DFKai, "BiauKai", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial,
                            sans-serif;
                        text-shadow: 2px 2px 6px #a3a3a3;
                    }
                }
                div {
                    flex: 1;
                    color: $warningColor;
                    h2 {
                        font-size: 2.5rem;
                    }
                    h3 {
                        font-size: 1.2rem;
                    }
                }
                div:nth-child(2) {
                    text-align: center;
                }
            }
            #guest-main {
                display: flex;
                flex-direction: row;
                .guest-img {
                    flex: 2;
                    #guest-picture {
                        text-align: center;
                        img {
                            width: 70%;
                            border-radius: 0.5rem;
                            border: 0.2rem #ccc solid;
                        }
                    }
                }
                .guest-info {
                    flex: 1;
                    > div {
                        display: flex;
                        flex-direction: row;
                        padding: 0.7rem 0;
                        border-bottom: 0px dotted #dfdede;
                        label {
                            font-size: 1rem;
                            font-weight: bold;
                            color: rgb(38, 93, 124);
                        }
                        label:nth-child(1) {
                            color:  rgb(38, 93, 124);;
                            margin-right: 1rem;
                        }
                    }
                }
            }
            #barcode-error {
                display: none;
                font-size: 2rem;
                font-weight: bold;
                color: $warningColor;
                text-align: center;
                margin-top: 10%;
            }
            #barcode-unactive {
                display: none;
                font-size: 2rem;
                font-weight: bold;
                color: $warningColor;
                text-align: center;
                margin-top: 10%;
            }
        }
    }
}
.my-waiting {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
    z-index: 5000;
}

.ad-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    img {
        width: 150px;
    }
    h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: #02aff0;
        font-family: DFKai, "BiauKai", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
    }
}

//   .f-check-in{
//     input[type="text"]{
//         border-radius: 3px 0px 0px 3px;
//         height: 15px;

//     }
//     input[type="button"]{

//     }

//   }
