@charset "UTF-8";
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

.row {
  margin: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DFKai";
  src: url("../../fonts/kaiu.ttf") format("woff2");
}
@media (min-width: 1320px) {
  .index-friend-space {
    display: block;
  }
}
@media (max-width: 1200x) {
  .index-friend-space {
    display: none;
  }
}

@media (min-width: 1320px) {
  .index-friend-space-sidebar {
    display: none;
  }
}
@media (max-width: 1200x) {
  .index-friend-space-sidebar {
    display: block;
  }
}

@media (min-width: 1320px) {
  .index-slider-index {
    display: block;
  }
}
@media (max-width: 1200x) {
  .index-slider-index {
    display: block;
  }
}

@media (max-width: 1200x) {
  .index-advertising-space {
    display: block;
  }
}
@media (max-width: 992px) {
  .index-advertising-space {
    display: block;
  }
}

@media (max-width: 1200x) {
  .index-advertising-space-sidebar {
    display: none;
  }
}
@media (max-width: 992px) {
  .index-advertising-space-sidebar {
    display: block;
  }
}

root {
  display: block;
}

.mai-space {
  position: absolute;
}
.mai-space .mai-img {
  width: 15%;
  position: relative;
  z-index: 100;
}

.reply {
  float: right;
}

.commentlist li {
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px #ccc solid;
}
.commentlist li li {
  background-color: #f8f3f3;
  border-radius: 0px;
}
.commentlist::nth-child(2n + 1) {
  background-color: #eaeaea;
}

.clearout {
  height: 25px;
  clear: both;
}

.back-link {
  height: 30px;
  width: 100px;
  background-color: #ccc;
  margin-bottom: 20px;
  background-image: url("../images/arrow.png");
  background-position: right;
  background-repeat: no-repeat;
  font-weight: bold;
  float: left;
  margin-left: 1rem;
  padding-top: 0.5rem;
}
.back-link a {
  margin: 1rem;
  font-size: 1.8rem;
}

.list-item {
  width: 100%;
}
.list-item .row-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ececec;
}
.list-item .row-item label {
  color: #666;
  font-weight: 400;
}
.list-item .row-item a {
  font-size: 1rem;
  padding: 0.1rem;
}
.list-item .row-item:nth-child(even) {
  background-color: #f9f9f9;
}
.list-item .row-item:hover {
  background-color: #f1f1f1;
}

.hide-info {
  color: #aaaaaa !important;
  border: 1px solid #ffffff !important;
}

.memberInfo {
  width: 50%;
}

/*========= B  popup ====================================================================*/
#div-popup {
  display: none;
}
#div-popup #div-alertInfo {
  position: fixed;
  margin: 10% auto;
  z-index: 1200;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}
#div-popup #div-alertInfo #alert-title {
  height: 40px;
  margin-top: 0px;
  border-radius: 5px 5px 0 0;
  background-color: background;
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 2.5;
  padding-left: 20px;
}
#div-popup #div-alertInfo #alert-title {
  background-color: white;
}
#div-popup #div-alertInfo #btn-close {
  float: right;
  margin: 0.5rem 1rem;
  color: rgb(117, 117, 117);
  border: 0px;
  background-color: transparent;
}
#div-popup #div-alertInfo #alert-content {
  text-align: center;
  padding-top: 7%;
  color: #286090;
}
#div-popup #div-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 1000;
  cursor: pointer;
}

#waiting-img {
  width: 20px;
  display: none;
}

.info-bg {
  padding: 2rem;
  border-radius: 0 0 5px 5px;
  word-wrap: break-word;
  color: #666;
}
.info-bg h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.info-bg div {
  text-indent: 2rem;
  margin-bottom: 0.5rem;
}
.info-bg table {
  width: 80%;
  margin-left: 10%;
  background-color: rgb(252, 252, 252);
}
@media (max-width: 992px) {
  .info-bg table {
    width: 100%;
    margin-left: 0%;
  }
}
.info-bg table tr td {
  padding: 0.3rem 1rem;
  border: 1px solid #999;
  text-align: center;
}
@media (max-width: 992px) {
  .info-bg table tr td {
    padding: 0rem;
  }
}
.info-bg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
.info-bg ul li {
  margin: 0.5rem 0;
  list-style: inside;
}

.recruit-single .post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #ccc;
}
.recruit-single .recruit-show div {
  padding: 0.5rem;
  border-bottom: 0.1rem rgb(235, 233, 233) dotted;
}

.my-waiting {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20%;
  z-index: 5000;
}

/* Back to Top */
#back-top-wrapper {
  width: 100%;
  z-index: 10000;
  position: absolute;
  overflow: hidden;
}
#back-top-wrapper #back-top {
  position: fixed;
  bottom: 180px;
  right: 1%;
  margin-left: 580px;
  display: none;
}
#back-top-wrapper #back-top i {
  font-size: 1.5rem;
  opacity: 0.3;
  color: #aaaaaa;
  cursor: pointer;
}
#back-top-wrapper #back-top i:hover {
  opacity: 1;
}

.my-link {
  color: #05688f;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}
.my-link:hover {
  color: #012d47;
  text-decoration: none;
}

.my-link-delete {
  color: #aa0303;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}
.my-link-delete:hover {
  color: #790f01;
  text-decoration: none;
}

.link-style {
  text-decoration: none;
  font-family: "BiauKai", "DFKai", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
  font-size: calc(0.8rem + 0.6vw);
  font-weight: bold;
  color: #05688f;
  display: block;
}
.link-style:hover {
  color: #012d47;
}

#flexisel-breach li {
  border-bottom: 2px #ccc solid;
  height: 230px;
  text-align: center;
}
#flexisel-breach li a {
  margin: 2rem;
}
#flexisel-breach li a .box img {
  height: 50%;
  margin-bottom: 2rem;
}
#flexisel-breach li a .box label {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
}

#flexisel-supervisor li {
  border-bottom: 2px #ccc solid;
}
#flexisel-supervisor li .box {
  text-align: center;
}
#flexisel-supervisor li .box img {
  margin-top: 10px;
  max-width: 45%;
  max-height: 210px;
}
#flexisel-supervisor li .box label {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

#supervisor li {
  border-bottom: 2px #ccc solid;
}
#supervisor li .box {
  text-align: center;
}
#supervisor li .box img {
  margin-top: 10px;
  max-width: 45%;
  max-height: 210px;
}
#supervisor li .box label {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

.carousel-box {
  text-align: center;
}
.carousel-box img {
  height: 210px;
  margin-top: 10px;
}

ul.brach-list {
  list-style-type: none;
}

.brach-item {
  border-bottom: 1px solid #ffffff;
  padding: 2rem;
}
.brach-item h3 {
  font-size: 20px;
  font-weight: bold;
  color: #286090;
}
.brach-item:nth-child(odd) {
  background-color: #e8e8e8;
}
.brach-item:nth-child(even) {
  background-color: #f7f7f7;
}

.article-title {
  width: 100%;
  margin-top: 1.3rem;
}
.article-title label {
  color: #fff;
  font-size: 1.5rem;
  padding: 2rem;
}

.link-list {
  padding: 5px;
}
.link-list li {
  padding: 10px;
  border-bottom: 0.1rem rgb(212, 212, 212) dotted;
}
.link-list li:hover {
  background-color: #eff3f5;
}

.article-list {
  padding-left: 0rem;
}
.article-list li {
  padding: 0.5rem;
}
.article-list li:nth-child(odd) {
  border-bottom: 1px #d8d8d8 dotted;
  background-color: rgba(248, 248, 248, 0.7333333333);
}
.article-list li:hover {
  background-color: rgba(238, 239, 240, 0.568627451);
}

.recruiter-list {
  padding-left: 0rem;
}
.recruiter-list li {
  padding-left: 1.8rem;
  display: flex;
  justify-content: space-between;
}
.recruiter-list li:nth-child(odd) {
  border-bottom: 1px #d8d8d8 dotted;
  background-color: rgba(248, 248, 248, 0.7333333333);
}
.recruiter-list li {
  padding: 1rem;
}
.recruiter-list li a {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  color: #05688f;
  font-family: "BiauKai", "DFKai", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
}
.recruiter-list li label {
  display: flex;
  align-self: flex-end;
  color: #999;
  font-size: 0.8rem;
}
.recruiter-list li:hover {
  background-color: rgba(238, 239, 240, 0.568627451);
}
.recruiter-list li:hover a {
  color: #012d47;
}

.label-title {
  margin-bottom: 0px;
  color: #286090;
  line-height: 2;
  font-size: 0.8rem;
  font-weight: bold;
}

.error-mess {
  color: red;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.row-modify {
  padding: 0.5rem;
}

input::placeholder {
  color: #999;
}

input:focus::placeholder {
  color: transparent;
}

#load-more {
  cursor: pointer;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.6;
}
#load-more:hover {
  opacity: 1;
}
#load-more i {
  font-size: 35px;
  color: #999;
  height: 50px;
}

@keyframes slow-show {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.animation-show {
  animation-name: slow-show;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.h3-title {
  color: #646668;
  padding: 0rem;
  font-size: calc(1rem + 0.2vw);
  font-weight: bold;
}

.form-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-space .form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0.5rem 0;
  width: 80%;
}
.form-space .form-row div {
  display: flex;
  flex-direction: column;
}
.form-space .form-row div:nth-child(1) {
  flex: 1;
}
.form-space .form-row div:nth-child(1) label {
  font-size: calc(0.3rem + 0.6vw);
  font-weight: bold;
  color: #666;
}
.form-space .form-row div:nth-child(2) {
  flex: 4;
}
.form-space .form-row div .captcha-space {
  display: flex;
  flex-direction: row;
}
.form-space .form-row div .captcha-space div {
  flex: 1;
}
.form-space .form-row div .captcha-space div .captcha-img {
  cursor: pointer;
  width: 40%;
}

.my-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  background: linear-gradient(0deg, #ffffff 70%, #cbcbcb 100%);
}
.my-header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.my-header .logo .cn-title {
  font-family: DFKai, "BiauKai", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  padding-left: 1.8rem;
  background: linear-gradient(to right, #016488, #26bcf3, #016488);
  /* 2. Cắt nền theo hình chữ (Cần tiền tố -webkit- cho hầu hết trình duyệt) */
  -webkit-background-clip: text;
  background-clip: text;
  /* 3. Làm chữ trong suốt */
  color: transparent;
}
.my-header .logo .en-title {
  padding-top: 2px;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #016488;
}
.my-header .logo img {
  width: 6rem;
  margin-right: 1rem;
}
.my-header .search-container {
  display: flex;
  justify-content: left;
  margin: 0rem 0;
  width: 100%;
  position: fixed;
  top: 10px;
  right: 0;
}
.my-header .search-container .modern-search-box {
  display: flex;
  align-items: stretch;
  width: 200px;
  max-width: 600px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #111663;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 4px;
  top: 15px;
}
.my-header .search-container .modern-search-box input {
  flex: 1;
  border: none !important;
  outline: none !important;
  width: 100%;
  padding: 0px;
  font-size: 1rem;
  color: #333;
  background-color: rgba(248, 247, 247, 0.4352941176);
  margin: 0;
  padding: 5px;
}

.title {
  text-align: center;
  border-bottom: 2px solid transparent;
  padding-bottom: 0px;
  /* Phủ gradient lên viền (số 1 ở cuối là border-image-slice) */
  border-image: linear-gradient(90deg, #fff 20%, #bfbfc0 50%, #fff 80%) 1;
}
.title h1 {
  color: #016488;
  padding: 1rem 0;
  font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 80vh;
  background-image: url("../../images/bg.jpg");
}
.content-info {
  flex: 1;
  display: flex;
}
.content-info #guest-main {
  flex: 1;
  display: none;
  flex-direction: row;
  font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
}
.content-info #guest-main .guest-img {
  flex: 4;
  display: flex;
  justify-content: center;
  background-color: rgba(243, 243, 243, 0.6588235294);
}
.content-info #guest-main .guest-img #guest-picture {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-info #guest-main .guest-img #guest-picture img {
  border-radius: 1rem !important;
  width: 100%;
  display: block;
  border: 0.4rem #fefdfd solid;
  background-color: #ffffff;
  margin: 1rem 0;
  /* BÓNG ĐỔ RA NGOÀI */
  /* Cú pháp: lệch phải | lệch xuống | độ nhòe (blur) | màu sắc */
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3) !important;
}
.content-info #guest-main .guest-info {
  flex: 6;
  margin: 0rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7921568627);
}
.content-info #guest-main .guest-info .guest_name {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.content-info #guest-main .guest-info .guest_name #guest_name {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  color: #02658f;
}
.content-info #guest-main .guest-info .guest_name #guest_position {
  text-align: right;
  padding-right: 10%;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
.content-info #guest-main .guest-info .guest_contact_local {
  font-size: 2rem;
  font-weight: bold;
  color: #666;
  text-align: left;
  padding-bottom: 20px;
}
.content-info #guest-main .guest-info .guest_contact {
  text-align: left;
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted #e0e0e0;
}
.content-info #guest-main .guest-info .guest_contact .guest_contact_title {
  font-size: 1.25rem;
  font-weight: normal;
  color: #666;
  background-color: #e0e0e0;
  padding: 1rem;
}
.content-info #guest-main .guest-info .guest_contact .guest_contact_title svg {
  width: 1.5rem;
  margin-right: 0.5rem;
  fill: #666;
}
.content-info #guest-main .guest-info .guest_contact .guest_contact_content {
  font-weight: bold;
  font-size: 1.25rem;
  color: #666;
  padding: 1rem;
  flex: 1;
  background-color: #ffffff;
}
.content-info #guest-main .guest-info .guest_contact #guest_country {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0rem;
  color: #666;
}
.content-info #guest-main .guest-info .check-in-success div {
  font-size: 2rem;
  font-weight: bold;
  color: #0a5a04;
  text-align: center;
  margin-top: 50px;
}
.content-info #guest-main .guest-info .check-in-success div svg {
  width: 2rem;
  margin-right: 0.5rem;
  fill: #0a5a04;
}
.content-info #barcode-error,
.content-info #barcode-unactive {
  flex: 1;
  display: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: #aa0303;
  text-align: center;
  margin-top: 15%;
}
.content-info #barcode-error svg,
.content-info #barcode-unactive svg {
  width: 2.5rem;
  margin-right: 0.5rem;
  fill: #aa0303;
}
.content-info #load-new {
  flex: 1;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #02658f;
  text-align: center;
  margin-top: 0%;
}
.content-info #load-new img {
  width: 100%;
  background-color: #ffffff;
}
.content-info .ad {
  position: absolute;
  text-align: right;
  top: 500px;
  right: 5rem;
}
.content-info .ad img {
  width: 150px;
  margin-right: 5.5rem;
}
.content-info .ad h3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #02aff0;
  font-family: DFKai, "BiauKai", "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
}

#last-check-in {
  margin-top: 0.8rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #bab8b8;
}

.my-waiting {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20%;
  z-index: 5000;
}